@page "/orders/confirm"
@using MediatR
@using Dermastore.Application.Commands.Vnpays
@inject IMediator Mediator
@inject NavigationManager NavigationManager

<h3>Thanh toán đơn hàng @orderId</h3>

@if (string.IsNullOrEmpty(PaymentUrl))
{
    <p>Đang tạo link thanh toán...</p>
}
else
{
    <p>Nhấn vào <a href="@PaymentUrl" target="_blank">link này</a> để thanh toán.</p>
}

@code {
    [Parameter]
    public string PaymentUrl { get; set; }

    [SupplyParameterFromQuery]
    public int orderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PaymentUrl = await Mediator.Send(new CreatePaymentUrlCommand(orderId));
            NavigationManager.NavigateTo(PaymentUrl, forceLoad: true);
        }
        catch (Exception ex)
        {
            // Xử lý lỗi và thông báo cho người dùng
            Console.WriteLine(ex.Message);
        }
    }
}
