@page "/accounts/logout"

@using Dermastore.Domain.Entities
@using Dermastore.Web.Containers
@using MediatR
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject IMediator Mediator
@inject NavigationManager NavigationManager
@inject AuthStateContainer AuthStateContainer
@inject IConfiguration configuration
@inject SignInManager<User> SignInManager
@inject NavigationManager NavigationManager

<div class="container my-5">
    <h2>Logging out...</h2>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        AuthStateContainer.UnauthorizeUserAsync();
        NavigationManager.NavigateTo("/accounts/login");
    }
}