<div class="p-4">
    <div class="row">
        <!-- About column -->
        <div class="col-lg-4 col-md-6 mb-4 text-tertiary">
            <h5 class="mb-3">About Dermastore</h5>
            <p>
                Dermastore is your premier destination for professional skincare products. We curate scientifically-backed formulations from trusted brands worldwide.
            </p>
        </div>

        <!-- Quick Links column -->
        <div class="col-lg-2 col-md-6 mb-4 text-tertiary">
            <h5 class="mb-3">Quick Links</h5>
            <ul class="list-unstyled mb-0">
                <li class="mb-1">
                    <a href="#!" class="text-tertiary">Frequently Asked Questions</a>
                </li>
                <li class="mb-1">
                    <a href="#!" class="text-tertiary">Shipping & Delivery</a>
                </li>
                <li class="mb-1">
                    <a href="#!" class="text-tertiary">Product Pricing</a>
                </li>
                <li>
                    <a href="#!" class="text-tertiary">Delivery Areas</a>
                </li>
            </ul>
        </div>

        <!-- Customer Service column -->
        <div class="col-lg-2 col-md-6 mb-4 text-tertiary">
            <h5 class="mb-3">Customer Service</h5>
            <ul class="list-unstyled mb-0">
                <li class="mb-1">
                    <a href="#!" class="text-tertiary">Contact Us</a>
                </li>
                <li class="mb-1">
                    <a href="#!" class="text-tertiary">Returns Policy</a>
                </li>
                <li class="mb-1">
                    <a href="#!" class="text-tertiary">Privacy Policy</a>
                </li>
                <li>
                    <a href="#!" class="text-tertiary">Skin Consultation</a>
                </li>
            </ul>
        </div>

        <!-- Social Media column -->
        <div class="col-lg-4 col-md-6 mb-4 text-tertiary">
            <h5 class="mb-3">Connect With Us</h5>
            <!-- Social buttons with fixed icons -->
            <div class="social-buttons">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" role="button">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" role="button">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" role="button">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <!-- YouTube -->
                <a class="btn btn-outline-light btn-floating m-1" role="button">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
            <div class="mt-3">
                <p>Subscribe to our newsletter for exclusive skincare tips and promotions</p>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your email">
                        <button class="btn btn-outline-light" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center text-tertiary p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:
    <a class="text-tertiary" href="#">Dermastore.com</a>
</div>