.card {
        background-color: #A3B18A;
        color: black;
        border-radius: 10px;
    }

    .result-content p {
        text-align: left;
    }

    .result-content strong {
        font-weight: bold;
        margin-bottom: 5px;
    }

.btn-warning {
    background-color: #f5a623;
    border-color: #f5a623;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

    .btn-warning:hover {
        background-color: #e69520;
        border-color: #e69520;
    }

    .recommendation-card {
        background-color: #A5B68D;
        border-radius: 15px;
        border: none;
    }

    .product-card {
        width: 150px;
        height: 250px;
        border: none;
        border-radius: 10px;
        background-color: transparent; /* Remove white background */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-image {
        border-radius: 10px 10px 0 0;
        max-height: 150px;
        max-width: 100%;
        object-fit: contain;
    }

.product-card .card-body {
    background-color: #588157; /* Green background fills the entire card */
    border-radius: 0 0 10px 10px;
    width: 100%; /* Fill the entire width */
    height: 100%; /* Fill the entire height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: 10px;
}

    .product-card .card-text {
        margin: 0;
        font-size: 14px;
    }

    .product-card .card-text:first-of-type {
        color: #f5a623;
        font-weight: bold;
    }

    .product-card .card-text:last-of-type {
        color: #000;
        font-weight: normal;
    }